fastapi[standard]

python-jose[cryptography]
passlib[argon2]
python-dotenv

aiosqlite
sqlmodel
alembic

greenlet
numpy
pandas

joblib

scikit-learn==1.6.1
sentence-transformers
transformers
sentencepiece
sacremoses
torch

langdetect